.component__AddGameForm {
  display: block;

  .fields {
    max-width: 500px;
  }

  .form-actions {
    margin-top: 35px;

    .btn-disabled {
      display: inline-block;
    }
  }
}


@media (max-width: 520px) {

  .component__Player {
    &:first-child {
      margin-bottom: 40px;
    }
  }

}

@media (min-width: 520px) {

  .component__AddGameForm {
    .fields {
      display: flex;

      > div {
        width: 50%;
      }
    }
  }

  .component__Player {
    &:first-child {
      margin-right: 30px;
    }
  }

}
