.component__LatestResults {
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
    max-width: 650px;
  }

  li {
    display: flex;
    flex-direction: row;
    background: #FCFCFC;
    text-align: center;

    > div {
      padding: 5px;
    }

    .player {
      width: 50%;
    }

    .icon {
      > img {
        width: 32px;
        height: 32px;
      }
    }

    .name {
      font-size: 0.8em;

      &.p1 {
        padding-right: 10px;
        text-align: right;
      }

      &.p2 {
        padding-left: 10px;
      }
    }

    &:nth-child(odd) {
      background: #F7F7F7;
    }

    .player.winner {
      .name {
        font-weight: 700;
        color: $theme_primary;
      }
    }

    .player.loser {
      .icon {
        opacity: 0.5;
      }
    }
  }
}


$break_three: 580px;
$break_four: 780px;

.component__LatestResults {
  @media (max-width: $break_three - 1) {
    li {
      width: 47.5%;
      margin-right: 5%;
      margin-bottom: 5%;

      &:nth-child(2n+2) {
        margin-right: 0;
      }
    }
  }

  @media (min-width: $break_three) and (max-width: $break_four - 1) {
    li {
      width: 32%;
      margin-right: 2%;
      margin-bottom: 4%;

      &:nth-child(3n+3) {
        margin-right: 0;
      }
    }
  }

  @media (min-width: $break_four) {
    li {
      width: 22%;
      margin-right: 4%;
      margin-bottom: 4%;

      &:nth-child(4n+4) {
        margin-right: 0;
      }
    }
  }
}
