.component__SaltyMeter {
  .content {
    font-size: 10vw;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    display: flex;

    .name {
      margin-right: 4%;
    }
  }

  .salt {
    font-weight: 700;
    color: $theme_primary;
  }
}


@media (min-width: 500px) {
  .component__SaltyMeter {
    .content {
      font-size: 50px;
    }
  }
}


@media (min-width: 650px) {
  .component__SaltyMeter {
    ul {
      display: flex;
    }

    li {
      display: block;
      flex-grow: 1;
      text-align: center;

      .name {
        margin: 0;
        line-height: 1;
        font-size: 3vw;
      }

      .salt {
        font-size: 5vw;
        font-weight: 400;
      }
    }
  }
}
