@import 'normalize';

body {
  background: #FCFCFC;
  font-family: 'Poppins', sans-serif;
}

$theme_primary: #f59214;

@import 'layout';

@import 'components/SaltyMeter';
@import 'components/LatestResults';
@import 'components/AddGameForm';
