@import 'normalize';

body {
  background: #060606;
  color: #CCC;
  font-family: 'Poppins', sans-serif;
}

* { box-sizing: border-box }

$theme_primary: hsl(150, 50, 50);

@import 'layout';
@import 'form';
@import 'button';

@import 'components/AddGameForm';
@import 'components/CharacterIcon';
@import 'components/CharacterSelector';
@import 'components/LatestResults';
@import 'components/NumberSelector';
@import 'components/SaltyMeter';
